{% extends 'base.html' %}
{% load static %}
{% block content %}


<h1 class="ms-3">Address</h1>
<div class="row adrw">
    <form class="tbl1 border" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
 
        <input class="inp1 border ps-2" type="text" name="name" placeholder="Your Name" required>
        <input class="inp1 border ps-2" type="email" name="email" placeholder="Email" required>
        <input class="inp1 border ps-2" type="text" name="number" placeholder="Phone" required>
        <input class="inp1 border ps-2" type="text" name="address" placeholder="address" required>
        <input class="inp1 border ps-2" type="number" name="pincode" placeholder="pincode" required>
        <input class="inp1 border ps-2" type="text" name="state" placeholder="state" required>
        <a href="{% url 'lap:home' %}"><button class="submi mt-2 btn" type="submit" value="submi">SUBMIT</button></a>
    </form>
     
</div>

{% endblock %}