<nav class="navbar navbak navbar-dark" width="100">
  <div class="container-fluid">
    <div class="row mt-3 final w-100">
      <div class="fncol col-lg-2">
        <h1>Contact us</h1>
        <p>cosumer constomers</p>
        <p>18001084723</p>
        <p>Bussiness customers</p>
        <p>18001089237</p>
        <p>mon-fri 9am-7pm</p>

      </div>
      <div class="col-lg-2">
        <h1>support</h1>
        <p>FAQ</p>
        <p>Contribute</p>
        <p>Contact us</p>
      </div>
      <div class="col-lg-2">
        <h1>guids</h1>
        <p>Community guids</p>
        <p>installation guids</p>
      </div>
      <div class="col-lg-2">
        <h1>legel</h1>
        <p>Terms</p>
        <p>Privacy</p>
      </div>
      <div class="col-lg-2">
        <h1>MY LAPTOPS</h1>
        <p>My accounts</p>
        <p>Trach my orders</p>
        <p>Money</p>
        <p>Store locator</p>
        <p>Tech Takes</p>
      </div>
      <hr class="w-100" style="color: black;">


    </div>
   
    <div class="ar">
    <p class="at" style="color: rgb(160, 160, 160);">© 2024 LAPTOPS. All rights reserved.</p>
    <p>Arc, Arria, Celeron, Cyclone, eASIC, Intel Ethernet, Intel,the Intel logo, Intel Agilex, Intel Atom, Intel Core,
      Intel Evo, Intel Inside, the Intel Inside logo, Intel Optane, Intel vPro, Iris, Killer, MAX, Movidius, Pentium,
      Intel Select Solutions, Intel Si Photonics, Stratix, the Stratix logo, Tofino, Ultrabook, Xeon are trademarks of
      Intel Corporation or its subsidiaries.</p>
    <p>Not all features are available in all editions or versions of Windows. Systems may require upgraded and/or
      separately purchased hardware, drivers and/or software to take full advantage of Windows functionality. See
      www.microsoft.com</p>
    <p>The following applies to HP systems with Intel Skylake or next-generation silicon chip-based system shipping with
      Windows 7, Windows 8, Windows 8.1 or Windows 10 Pro systems downgraded to Windows 7 Professional, Windows 8 Pro,
      or Windows 8.1: This version of Windows running with the processor or chipsets used in this system has limited
      support from Microsoft. For more information about Microsoft’s support, please see Microsoft's Support Lifecycle
      FAQ at learn.microsoft.com/en-in/lifecycle.</p>
    <p>In accordance with the Microsoft Silicon Support Policy, HP does not support or provide drivers for Windows 8 or
      Windows 7 on products configured with Intel or AMD 7th generation and forward processor</p>
    <p>Covid-19 Disclaimer: We are working to meet the current extraordinary customer demand for our products. Our
      website reflects current product availability but circumstances are dynamic. You may check your order status via
      our Track My Order page ( Here ). We will send updates by email as soon as they are available. We greatly value
      your business and appreciate your ongoing patience as we work to get your order to you.</p>
    <p>For HP supplies (inks and toners), disclaimers apply. To know more, please click here</p>
    <p>Please note: The product colour and look & feel may vary from the visual representation on the Website. While all
      efforts are made to check pricing, product specifications and other errors, inadvertent errors do occur from time
      to time and HP reserves the right to decline orders arising from such errors. For pen drives, please reach out to
      respective manufacturers for any service queries.</p>

  </div>
</nav>