{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="contai container-fluid px-0 ">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="imm carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <div class="row">
          <div class="caro1 col-lg-5 p-0">
            <div class="row">
              <h1 class="h1" style="margin-left: 140px;">Spring-in Laptop Deals</h1>
              <hr class="hr1">
            </div>
            <h6 class="h6" style="margin-left: 50px;">Save upto $21000.00 with laptop exchange benifits,up to</h6>
            <h6 class="l2" style="margin-left: 49px;">$10000.00 cashback and attractive accessories bundles!*</h6>
            <button class="btn btn-dark mt-5" style="margin-left: 50px;">Purshace Now</button>
            <h6 class="l3 mt-1" style="margin-left: 50px;">*promotions ends 14 march 2021.Exclusion and other T&Cs
              apply.</h6>

          </div>
          <div class="col-lg-7 p-0">
            <img src="../static/images/pic1.webp" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="row">
          <div class="  col-lg-5 p-0">
            <div class="caro2 row">
              <h1 class="ll1" style="margin-left: 120px;">End Of Finansial Year Sale</h1>
            </div>
          
            <div class="opts col-lg-12">
              <h4 class="opt ms-5">optimise your bydget with tech saving s and GST benifits</h4>
              <h5 class="add mt-4">● Add-on Accident Damage Protection,Starting From ₹3999.00.</h5>
              <h5 class="add">● 17% Off on 1TB SSD*</h5>
            <button class="btn btn-dark mt-4" style="margin-left: 50px;">Purshace Now</button>
            <h6 class="l3 mt-1" style="margin-left: 50px;">*order before 15 march 2024 to get invoicing before 30 march 2024.other T&c apply.
              apply.</h6>
            </div>
          </div>
          <div class="col-lg-7 p-0">
            <img src="../static/images/pic2.webp" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="caro3 col-lg-5 p-0">
            <h1 class="om">OMEN Transcend 14</h1><hr class="hhh">
            <h3 class="omm">OMEN'S lightest gaming laptop with 1.637 Kgs</h3><hr class="hhh">
            <button class="btn btn-light mt-4" style="margin-left: 50px;">Purshace Now</button>
          </div>
          <div class="col-lg-7 p-0">
            <img src="../static/images/pic3.webp" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="ccont container">
  <div class="row">
    <div class="col order-0">
      <h2 class="lap2">LAPTOP DELIVERS</h2>
    </div>
    <div class="col order-1">
      <div class="row">
        <img class="pic1" src="../static/images/license_FILL0_wght400_GRAD0_opsz24.svg" alt="">
      </div>
      <h6>100% original products</h6>
    </div>
    <div class="col order-2">
      <div class="row">
        <img class="pic1" src="../static/images/local_shipping_FILL0_wght400_GRAD0_opsz24.svg" alt="">
      </div>
      <h6>Fast&Free Delivery</h6>
    </div>
    <div class="col order-3">
      <div class="row">
        <img class="pic1" src="../static/images/credit_card_FILL0_wght400_GRAD0_opsz24.svg" alt="">
      </div>
      <h6>0% intrest-free EMI</h6>
    </div>
    <div class="col order-4">
      <div class="row">
        <img class="pic2" src="../static/images/live_help_FILL0_wght400_GRAD0_opsz24.svg" alt="">
      </div>
      <h6>Here to help</h6>
    </div>
    <div class="col order-5">
      <div class="row">
        <img class="pic1" src="../static/images/component_exchange_FILL0_wght400_GRAD0_opsz24.svg" alt="">
      </div>
      <h6>Laptop exchange</h6>
    </div>
  </div>
</div>

<div class="contt container-fluid mb-3">
  <div class="row">
    <div class="snn col-lg-12">
      <h2 class="sinu ms-5"><em>Sign up and get extra storewide discounts!*</em></h2>
    </div>
    <div class="snn1 pe-0 col-lg-12">
      <h3 class="sinu1 ms-5"><em>plus enjoy exclusive offers, and be the first to know about promotions and new HP product
        launches</em></h3>
      <a href="{% url 'auth:register' %}" class="snup btn btn-dark pt-3 pb-3 ps-4 pe-4 mb-3">Sign Up Now</a>
    </div>

  </div>
</div>

<div class="container">
  <h2>What's New</h2>
  <div class="row">
    <div class="col-lg-6">

      <img class="mb-2" src="../static/images/what1.avif" alt="">
      <h3>Move All-in one PC</h3>
      <h5>Revolutionising the way you work and play with a portable and rechargeable All-in-One PC.</h5>
      <button class="btn btn-dark mb-3">Learn More</button><span><a href="{% url 'lap:laps' %}" class="btn btn-secondary ms-3 mb-3">Purchase Now</a></span>
    </div>
    <div class="col-lg-6 ">
      <img class="mb-2" src="../static/images/wat2.avif" alt="">
      <h3>HP Spectra x360</h3>
      <h5>Elevate your laptop for enhanced productivity with immersive visuals, audio, and intelligent tools, perfect for your hybrid workstyles.</h5>
      <button class="btn btn-dark mb-3">Learn More</button><span><a href="{% url 'lap:laps' %}" class="btn btn-secondary ms-3 mb-3">Purchase Now</a></span>

    </div>
  </div>
</div>

<div class="ind mb-3 container-fluid d-flex">
  <img src="../static/images/india.avif" width="23px" height="17px" alt=""><span><h6> India  | Order by phone:  1-(800)-108-4747</h6></span>
</div>



{% endblock %}